.Hero:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-image: linear-gradient(
    to left,
    rgb(8, 8, 8),
    rgba(8, 8, 8, 0.725)
  );
  opacity: 0.9;
  /* background: linear-gradient(rgba(210, 71, 90, 0.5), rgba(210, 71, 90, 0.5)); */
  clip-path: polygon(100% 0, 100% 89%, 60% 89%, 55% 100%, 0 100%, 0 0);
}

.hero-top {
  clip-path: polygon(100% 0, 100% 89%, 60% 89%, 55% 100%, 0 100%, 0 0);
}

.hero-div {
  clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
}

@media (max-width: 500px) {
  .Hero:after {
    clip-path: polygon(100% 0, 100% 89%, 70% 89%, 58% 97%, 0 97%, 0 0);
  }
  .hero-top {
    clip-path: polygon(100% 0, 100% 89%, 70% 89%, 58% 97%, 0 97%, 0 0);
  }
}
